### FROM : https://github.com/itmicus/zabbix/tree/master/Templates/Operating%20Systems/Linux
### Deploy with ansible, can be overwritten by automation process
# This is a configuration file for Template Linux Memory itmicus.ru
############ GENERAL PARAMETERS #################
UserParameter=custom.meminfo.discovery,cat /proc/meminfo